<div ng-include="'/app/view/html/views/search/searchDevices.html'"></div>
<div ng-init="vm.init();" ng-controller= "mapCtrl as vm"> <scriptr-map
             sources-info="vm.sources"
             clustered-view="true"
             cluster-zoom="8"
             path-stroke-opacity="0.5"
             path-stroke-weight="10"
             summary-icons="vm.icons"
             api="app/api/getLatestDevices"
             transport="wss"
             api-params="{}"
             msg-tag="map"
             bounce="false"
             geofence-manager="false"
             selected-tracked-asset="{{vm.deviceKey}}"
             detailed-zoom-min="12"
             on-select-asset="vm.onSelectAsset"
             set-marker-icon="vm.setMarkerIcon"
             max-asset-points=1
             click-outside-close-info-window="true"
             marker-hover-window="false"                                                         
             custom-default-info-window="infoWindowTemplate_generic"
             map-fit-bounds="true"
>
    <info-window id="infoWindowTemplate_generic" template="/app/view/html/views/map/info_generic.html"></info-window>
</scriptr-map>
</div>